@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

:root {
  --scrollbar-color: #abc8fa;
  --scrollbar-background: #272727;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /*background: #7a7f9d;*/
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  /* background: #21295c; */
  /* background: #ffe3a3; */
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-background);
}
